@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid #c2c2c2;
}
.navbar h1 {
  color: #b235f1;
}
.navbar .links {
  margin-left: auto;
}

.navbar .username{
  color:  white;
  background-color: #b235f1;
  margin-left: 14px;
  margin-right: 14px;
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  transition: all 0.3s;
}
.navbar .username:hover {
  color:  #f1356d;
  background-color: #f1f1f1;
}

.navbar .type{
  margin-right: 16px;
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s;
}
.navbar .type:hover{
  color: #f1356d;
  background-color: #f1f1f1;
}


.navbar .logout-button {
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  text-align: center;
}

.navbar .logout-button:hover {
  color: #f1356d;
  background-color: #f1f1f1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #ddd; /* Add border */
  border-radius: 4px; /* Optional: Add border radius */
  transition: box-shadow 0.3s; /* Add transition for hover effect */
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.blog-preview h2 {
  font-size: 20px;
  color: #f13593;
  margin-bottom: 8px;
}

.preview-info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.preview-info p {
  margin: 4px 0;
}
/* login and register css*/
.loginReg {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #c2c2c2;
  border-radius: 25px;
}
.loginReg h1{
  color: #b235f1;
}
.loginReg h2{
  color: #f1359c;
}

.loginReg .registration{
  display: flex;
  flex-direction: column;
}

.loginReg .login{
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
}

.loginReg button {
  width: 100%;
  margin: 10px auto;
  background-color: #af4ca0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.loginReg button:hover {
  background-color: #8e3e56;
}

.blog-content {
  width: 100%;
  max-width: 600px; /* Adjust this to the desired maximum width */
}

.blog-content img {
  max-width: 100%;
}

/*page bar*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  text-align: center;
}

.pagination button:hover {
  color: #f1356d;
  background-color: #f1f1f1;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-weight: bold;
}
